body{
    font-family: Verdana, sans-serif;
}
h1{
    color:hsl(51, 100%, 50%);
    text-shadow: black 1px 1px 1px;
}
p{
    font-size: 1.3rem;
    font-weight: bold;
}
input{
    width:100px;
}
a button{
    border:none;
    border-radius: 7px;
    padding: 5px 10px;
    font-size:1.3rem;
    background-color: hsl(51, 100%, 50%);
}
a button:hover{
    background-color: hsl(51, 100%, 60%);
    color:white;
}
a button:active{
    background-color: hsl(51, 100%, 70%);
}